* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  // color: $main-black-color;
  line-height: 1.5;
  direction: rtl;
  background-color: $white;
}

button,
input,
textarea,
select {
  font: inherit;
  background-color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  outline: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  // background-color: var(--white);
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $gray-50;
}

body::-webkit-scrollbar-thumb {
  background-color: $primary;
  outline: 1px solid $primary;
}


// ---Styles for Stars Rating Component ------------
.react-stars {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.styles_ratings__pamTQ {
  div {
    div {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}




.mainContainer {
  margin: auto 60px;
}

@media (max-width: $xxl-media) {
  .mainContainer {
    margin: auto 50px;
  }
}

@media (max-width: $xl-media) {
  .mainContainer {
    margin: auto 40px;
  }
}

@media (max-width: $lg-media) {
  .mainContainer {
    margin: auto 32px;
  }
}



// @media (max-width: $xxl-media) {

// }

// @media (max-width: $xl-media) {

// }

// @media (max-width: $lg-media) {

// }

// @media (max-width: $md-media) {

// }

// @media (max-width: $sm-media) {

// }

// @media (max-width: $xs-media) {

// }